
.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: #a28443ad;
    border-radius: 5px;
    margin: 1em;
    padding: 1em; 
    transform-style: preserve-3d;
    transition: transform 0.85s;
    animation: flip-card 0.85s;
}

img {
    width: 200px;
    height: auto;
    
}
  
  @keyframes flip-card {
    from {
      transform: rotateY(180deg);
      pointer-events: none;
    }
    to {
      transform: rotateY(0deg);
    }
  }