@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* ,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(../assets/7917587.jpg) no-repeat center center fixed;
  background-size: cover;
  opacity: 0.95;
  font-family: 'Press Start 2P', system-ui;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  background-color: #242424;
}

.app,
#root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: yellow;
  text-shadow: 10px 5px 4px blue;
}

h2 {
  color: yellow;
  text-shadow: 10px 5px 4px blue;
}

button {
  cursor: pointer;
  font-family: inherit;
}

button:focus-visible {
  outline: 1px solid skyblue;
}

@media only screen and (max-width: 600px) {

  h1 {
    font-size: 2em;
  }
}
